.board 
{
    display: none; 
    height: 30vh;
    width: 30vw;
    grid-template-columns: repeat(3, auto);
    
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

img
{
    margin-left: 50%;
    height: 10vh;
    width: 10vw;
}