#tfGioc1 
{
    float: left;
    margin-left: 25%;
}

#tfGioc2 
{
    float: right;
    margin-right: 25%;
}
    
input
{
    background-color: rgb(255, 183, 38);
    border-color: rgb(255, 170, 0);
    color: white;
    text-align: center;
    font-size:150%;
}

/* css bottone*/
button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(255, 183, 38);
    color: white;
    padding: 20px 50px;
    border: 3px solid rgb(255, 170, 0);
    position: absolute;
    /*top: 55%;*/
    left: 50%;
    /*serve a spostare l'elemento nelle assi x e y*/
    transform: translate(-50%, -50%);
}

::placeholder
{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}


#restartButton
{
    display: none;
    /*margin-top: 17%;*/
}

/*dato grandezza al div per spaziarlo dagli altri div*/
#restartButtonDiv
{
    width: 100vw;
    height: 20vh;
}

/*dato grandezza al div per spaziarlo dagli altri div*/
#inputDiv
{
    width: 100vw;
    height: 15vh;
}