.board 
{
    display: none;
    /*vw e vh è la percentuale rispettivamente di larghezza e altezza a cui verranno attribuiti in base al viewpoint(l'area che vede l'utente nella pagina)*/
    
}

/*img
{
    width: 10vw;
    height: 10vh;
}*/