/* *Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    background-color:rgb(24, 135, 214);
}

h3
{
    text-align: center;
    font-size: 55px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

body::-webkit-scrollbar {
    display: none;
}


