.board 
{
    display: none;
    /*vw e vh è la percentuale rispettivamente di larghezza e altezza a cui verranno attribuiti in base al viewpoint(l'area che vede l'utente nella pagina)*/ 
    height: 30vh;
    width: 100vw;
    /*in questo modo creiamo una griglia 3*3 in automatico*/
    grid-template-columns: repeat(3, auto);
    /*Per mettere tutto centrale*/
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

img
{
    height: 10vh;
    width: 10vw;
} 